@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Trang chủ Quản trị";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Chào mừng bạn đến với hệ thống Admin!</h6>
    </div>
    <div class="card-body">
        <p>Đây là nơi hiển thị các biểu đồ thống kê đơn hàng của Dev 2.</p>
    </div>
</div>